* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
}
.container > * {
    padding: 10px;
}
.foto {
    background-color: rgb(187, 242, 187);
    padding: 0%;
}
.principal { 
    padding: 10px;  
    background-color: white; 
    height: auto; 
}
.divPendientes {
    height: auto;
} 
.divHistorico{
    height: auto;
}
.calculator {
    display: flex;
    justify-content: space-around;
}
.enlace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 20px;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover {
    text-shadow: 2px 2px 4px gray;
    color: black;
}
.navbar {
    padding: 0%;
    margin: 0%;
}
.nav-item {
    font-size: 18px;
}
.mp {
    font-family: 'Mate SC', serif;
    text-transform: none;
    font-weight: bold;
}
#ingreso {
    margin: 10px 0px 0px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
#saludo {
    margin-bottom: 20px;
}
img {
    width: 100%;
}
#btnPendiente {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: left;
}
#btnHistorico {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: left;
}
.tabla {
    width: 100%;
}
.tabla2 {
    width: 100%;
}