*{
    margin:0;
    padding:0;
}
body {
    height: 100%;
    width: 100%;   
}
.foto {
    background-color: rgb(187, 242, 187);
}
.principal {  
    padding: 10px;  
    background-color: white;  
}
.calculator {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
li {
    list-style-type: none;
}
.form-check-label {
    padding: 10px 20px;
}
p {
    margin: 10px 0px 0px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
#saludo {
    margin-bottom: 20px;
}