* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;    
}
.container {
    display: grid;
    grid-template:
    "foto main" auto
    "footer footer" 70px /
    40% 60%;
}
.foto {
    grid-area: foto;
    background-color: rgb(152, 251, 152);
}
.main {
    grid-area: main;    
    padding: 10px;    
}
footer {
    grid-area: footer;
}
.calculator {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
li {
    list-style-type: none;
}
.form-check-label {
    padding: 10px 20px;
}
p {
    margin: 10px 0px 0px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}