<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
<!-- CSS --><!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="../css/index.css">

<title>TuPrestamo.com</title>
</head>
<body class="contenedor">
<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="index.html"><img src="../img/logosimp.jpg" alt="logo tuprestamo.com"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link enlace" href="../index.html">Inicio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link enlace active" href="search.html">Solicitudes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link enlace" href="history.html">Historial</a></a>
    </li>
    </ul>
  </div>
</nav>
<main class="principal">
  <div class="calculator row">      
    <div class="col-12 divPendiente">
        <div>
          <h2>Solicitudes pendientes.</h2>
          <p>Aquí podrás ver todas aquellas solicitudes que aun se encuentren pendientes de aprobación.</p>
        </div>
        <div id="mstrPendiente">
          <table class="tabla">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Monto Solicitado</th>
              <th>Plazo</th>
              <th>DNI</th>
              <th>Mail</th>
              <th>Nro de Id</th>
              <th>Monto Final</th>
              <th>Primera Cuota</th>
            </tr>
          </table>
        </div>
      </div>
    <div class="row"><button type="button" id="btnPendiente" class="btn btn-outline-primary">Mostrar</button></div>
</div>
</main>
<footer class="col-12">
    <div>
      <ul class="enlace row">
        <li class="col-3">Bariloche, Río Negro - Argentina</li>
        <li class="col-3">made by <span class="mp">Moncholeus Project</span></li>
      </ul>
    </div>
  </footer>    
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../js/index.js"></script>

<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>